.plans-container {
}

.plans-container div {
    border: 1px solid var(--Lightgray);
    border-radius: 0.5em;
    cursor: pointer;
    display: flex;
    align-items: flex-start;
    padding: 0.6em 1em;
}

.advanced {
    margin: 0.7em 0;
}

.plans-container div:hover,
.plans-container div:focus {
    border: 1px solid var(--Purplishblue);
}

.plans-container div span {
    margin-left: 1em;
    line-height: 1.5;
}

.plans-container div h2 {
    color: var(--Marineblue);
    font-size: 1rem;
}

.plans-container div p {
    font-size: 0.8rem;
    color: var(--Coolgray);
}

.plans-container div span span {
    color: var(--Marineblue);
    font-size: 0.8rem;
    margin: 0;
}

.interaction-container .error {
    color: red;
    margin-bottom: 0.5em;
    text-align: right;
}

.interaction-container .toggler {
    background-color: var(--Alabaster);
    border-radius: 0.5em;
    display: flex;
    justify-content: space-evenly;
    margin: 1.2em 0;
    padding: 0.8em 1.5em;
}

.toggler h3 {
    color: var(--Marineblue);
    font-size: 0.9rem;
}

.toggler h3:last-child {
    color: var(--Coolgray);
}

.toggler input[type="checkbox"] {
    display: none;
}

.toggler label {
    background-color: var(--Marineblue);
    border: 1px solid;
    box-sizing: border-box;
    border-radius: 1em;
    padding: 0.6em;
    position: relative;
    width: 40px;
}

.toggler .slider {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 0.4s;
}

.toggler label span::before {
    border-radius: 50%;
    background-color: var(--White);
    content: "";
    position: absolute;
    left: 4px;
    bottom: 0.25em;
    width: 12px;
    height: 12px;
    transition: 0.4s;
}

.toggler input[type="checkbox"]:checked + .slider::before {
    transform: translateX(1.1rem);
}


/* MEDIA QUERY */

@media (min-width: 62em) {
    .plans-container {
        display: flex;
        width: 100%;
        margin: 2em 0;
    }

    .plans-container div {
        flex-direction: column;
        width: 30%;
        margin: 0;
    }
    .plans-container div.advanced {
        margin: 0 1.2em;
    }
    .plans-container div img {
        margin: 1em 0;
        margin-bottom: 3.5em;
    }

    .plans-container div span {
        margin-left: 0;
        margin-bottom: 0.5em;
    }

    .plans-container div h2 {
        color: var(--Marineblue);
        font-size: 1rem;
    }
    
    .plans-container div span p {
        font-size: 0.8rem;
        color:var(--Coolgray);
    }
}