* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Ubuntu-Regular" ;
  src: url('/fonts/Ubuntu-Regular.ttf');
}

@font-face {
  font-family: "Ubuntu-Bold" ;
  src: url('/fonts/Ubuntu-Bold.ttf');
}

@font-face {
  font-family: "Ubuntu-Medium" ;
  src: url('/fonts/Ubuntu-Medium.ttf');
}

:root {
  --Marineblue: hsl(213, 96%, 18%);
  --Purplishblue: hsl(243, 100%, 62%);
  --Pastelblue: hsl(228, 100%, 84%);
  --Lightblue: hsl(206, 94%, 87%);
  --Strawberryred: hsl(354, 84%, 57%);

  --Coolgray: hsl(231, 11%, 63%);
  --Lightgray: hsl(229, 24%, 87%);
  --Magnolia: hsl(217, 100%, 97%);
  --Alabaster: hsl(231, 100%, 99%);
  --White: hsl(0, 0%, 100%);
}

body {
  background-color: var(--Magnolia);
  font-family: "Ubuntu-Regular";
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: fixed;
}

@media (min-width: 62em) {
  .attribution {
    display: block;
  }
}
